.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b700ff;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
  }
  
  .active {
    font-weight: bold;
  }